dist
dist-*
cabal-dev
*.aux
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.eventlog
*.hi
*.hp
*.o
*.prof
*.so
.virtualenv
.hsenv
.hpc
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal.project.local
.HTF/
# Stack
.stack-work/
*/MAlonzo
*.agdai
*.agda-lib